<app-navbar></app-navbar>
<div class="bg-ingredientes">
    <div class="container">
        <div class="card flex-md-row flex-fill mx-md-5">
            <form [formGroup]="loginForm" (submit)="login()"
                class="col-md-6 px-md-5 py-4 py-md-0 my-4 d-flex flex-column justify-content-center border-primary border-login">
                <h5 class="text-primary align-self-center">Já tenho cadastro</h5>
                <app-input [form]="loginForm" inputName="email" icon="envelope" placeholder="E-mail"></app-input>
                <app-input [form]="loginForm" inputName="senha" type="password" icon="lock" placeholder="Senha">
                </app-input>
                <a routerLink="/" class="text-secondary align-self-center mt-4">Esqueci minha senha</a>
                <button class="btn btn-secondary btn-rounded px-5  align-self-center mt-4">Entrar</button>
            </form>
            <div class="col-md-6 p-md-5 text-center">
                <h5 class="text-primary mb-4">Cadastre-se</h5>
                <form [formGroup]="cadastroForm" (submit)="cadastrar()" class="form">
                    <app-input [form]="cadastroForm" inputName="nomeCompleto" icon="user" placeholder="Nome completo">
                    </app-input>
                    <!-- <input type="text" formControlName="nomeCompleto"> -->
                    <app-input [form]="cadastroForm" inputName="email" icon="envelope" placeholder="E-mail"></app-input>
                    <app-input [form]="cadastroForm" inputName="cpf" icon="id-card" placeholder="CPF"
                        mask="000.000.000.00"></app-input>
                    <app-input [form]="cadastroForm" inputName="telefone" icon="phone-alt" placeholder="Telefone"
                        mask="(00) 00000-0000">
                    </app-input>
                    <app-input [form]="cadastroForm" inputName="senha" type="password" icon="lock" placeholder="Senha">
                    </app-input>
                    <app-input [form]="cadastroForm" inputName="senhaConfirmacao" type="password" icon="lock"
                        placeholder="Confirmar sua senha"></app-input>
                    <button class="btn btn-secondary btn-rounded mt-5 px-4">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>