<nav class="bg-primary py-2 px-4 d-flex justify-content-between">
    <a routerLink="/">
        <img src="assets/imgs/logo.svg" width="70px">
    </a>

    <ul class="menu-list d-none d-md-flex">
        <li class="menu-item">
            <a class="menu-link h5" routerLink="/">Início</a>
        </li>
        <!-- <li class="menu-item">
            <a class="menu-link h5" routerLink="/">Como funciona</a>
        </li> -->
        <li class="menu-item">
            <a class="menu-link h5" routerLink="/comprar-refeicao-avulsa">Chef Box Experience</a>
        </li>
    </ul>

    <!-- <div class="d-flex align-items-center" >
        <ng-container *ngIf="!logedin">
            <span class="text-white mr-3">Já é cadastrado?</span>
            <button class="btn btn-secondary" routerLink="/login">Entrar</button>
        </ng-container>
        <span class="text-white" *ngIf="logedin">Bem vindo, <strong>Michele Wilding!!</strong></span>
    </div> -->
</nav>
