<div class="modal-content">
  <div class="modal-header border-0">
    <h3 class="modal-title text-primary" id="novaAreaTitle">Políticas Box</h3>
    <button type="button" class="close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body py-0">
    <div class="resp-container mb-4">
      <iframe class="resp-iframe" src="https://www.youtube.com/embed/YvMUi1VBK-Q" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>1 - A box é retornável. No momento da compra será cobrado uma taxa caução no valor de R$ 10,00, este valor será
      devolvido ao retornar a box em boas condições (sem nenhuma avaria).</p>
    <p>2 - Se ao fazer o pedido o cliente já tiver uma box da chefbox, o mesmo pode selecionar a opção “Já tenho uma
      box” e nesse caso não será cobrado o valor caução.</p>
    <p>3 - Caso o cliente selecione a opção “Já tenho uma box” e não tenha a box, a taxa caução será cobrada
      posteriormente.</p>
    <p>4 - A Box pode ser térmica (isopor) ou mdf e a mesma política se aplica para ambas.</p>
    <p>5 - Exclusivamente durante o periodo do Chef Box Experience, todas as compras estão isentas da cobrança da taxa caução.</p>
  </div>
  <div class="modal-footer border-0">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Ok</button>
  </div>
</div>
